<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServersWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ServersWPF.Properties.Settings>
            <setting name="arma2" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Arma 2</value>
            </setting>
            <setting name="arma2oa" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Arma 2 Operation Arrowhead</value>
            </setting>
            <setting name="mods" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Arma 2 Operation Arrowhead</value>
            </setting>
            <setting name="launchparams" serializeAs="String">
                <value>-nosplash</value>
            </setting>
            <setting name="dayzcomepoch" serializeAs="String">
                <value>False</value>
            </setting>
        </ServersWPF.Properties.Settings>
    </userSettings>
</configuration>